[Install]
WantedBy=multi-user.target

[Unit]
Description=DATV Repeater with F5OEO Pluto DVB2 and longmynd
After=network.target longmynd.service

[Service]
Environment=SERVICE_MODE=1
ExecStart=/opt/build/longmynd-utils/repeater.sh
User=f4exb
Group=f4exb
Restart=on-failure
